<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.timeout">0</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ffarm_dev?autoReconnect=true&amp;zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">false</property>
        <mapping resource="org/temp/IntakeJobHistory.hbm.xml" />
        <mapping resource="org/temp/CwtModuleSection.hbm.xml" />
        <mapping resource="org/temp/CwtJobMetric.hbm.xml" />
        <mapping resource="org/temp/JobSkill.hbm.xml" />
        <mapping resource="org/temp/PersonCsv.hbm.xml" />
        <mapping resource="org/temp/IntakeMedicalCondition.hbm.xml" />
        <mapping resource="org/temp/ImportHealth.hbm.xml" />
        <mapping resource="org/temp/ImportPerson.hbm.xml" />
        <mapping resource="org/temp/GiftPledge.hbm.xml" />
        <mapping resource="org/temp/JobskillCsv.hbm.xml" />
        <mapping resource="org/temp/MedicalCondition.hbm.xml" />
        <mapping resource="org/temp/SystemUser.hbm.xml" />
        <mapping resource="org/temp/IntakeRecordEntry.hbm.xml" />
        <mapping resource="org/temp/Personaddress$.hbm.xml" />
        <mapping resource="org/temp/CallLog.hbm.xml" />
        <mapping resource="org/temp/ImportHelpdeskticket.hbm.xml" />
        <mapping resource="org/temp/ImportStudent.hbm.xml" />
        <mapping resource="org/temp/State.hbm.xml" />
        <mapping resource="org/temp/DonationTicket.hbm.xml" />
        <mapping resource="org/temp/TempIntakeSupervisor.hbm.xml" />
        <mapping resource="org/temp/IntakeCourseEnrollment.hbm.xml" />
        <mapping resource="org/temp/IntakeEmployer.hbm.xml" />
        <mapping resource="org/temp/CwtProgramMetricModules.hbm.xml" />
        <mapping resource="org/temp/Course.hbm.xml" />
        <mapping resource="org/temp/Intake.hbm.xml" />
        <mapping resource="org/temp/CourseRotationHistory.hbm.xml" />
        <mapping resource="org/temp/ImportIntake.hbm.xml" />
        <mapping resource="org/temp/Question.hbm.xml" />
        <mapping resource="org/temp/ImportDispatch.hbm.xml" />
        <mapping resource="org/temp/IntakeQuestionAnswer.hbm.xml" />
        <mapping resource="org/temp/IntakeReference.hbm.xml" />
        <mapping resource="org/temp/CwtModuleStudent.hbm.xml" />
        <mapping resource="org/temp/ImportReligious.hbm.xml" />
        <mapping resource="org/temp/ImportSubstance.hbm.xml" />
        <mapping resource="org/temp/UserAuthorizedSession.hbm.xml" />
        <mapping resource="org/temp/CwtMetrics.hbm.xml" />
        <mapping resource="org/temp/CwtJob.hbm.xml" />
        <mapping resource="org/temp/CwtModules.hbm.xml" />
        <mapping resource="org/temp/CwtJobAssignment.hbm.xml" />
        <mapping resource="org/temp/ImportAddress.hbm.xml" />
        <mapping resource="org/temp/CwtProgramMetric.hbm.xml" />
        <mapping resource="org/temp/ImportEmployment.hbm.xml" />
        <mapping resource="org/temp/StudentDisciplineHistory.hbm.xml" />
        <mapping resource="org/temp/StudentPassHistory.hbm.xml" />
        <mapping resource="org/temp/GoogleDonationTicket.hbm.xml" />
        <mapping resource="org/temp/CwtCertificationStudentExam.hbm.xml" />
        <mapping resource="org/temp/CwtSupervisor.hbm.xml" />
        <mapping resource="org/temp/CwtProgram.hbm.xml" />
        <mapping resource="org/temp/CwtRoster.hbm.xml" />
        <mapping resource="org/temp/CwtDepartment.hbm.xml" />
        <mapping resource="org/temp/ImportLegal.hbm.xml" />
        <mapping resource="org/temp/GiftType.hbm.xml" />
        <mapping resource="org/temp/IntakeJobSkill.hbm.xml" />
        <mapping resource="org/temp/IntakeJobAssignment.hbm.xml" />
        <mapping resource="org/temp/DailyLimit.hbm.xml" />
        <mapping resource="org/temp/ImportStatus.hbm.xml" />
        <mapping resource="org/temp/CourseInstructor.hbm.xml" />
        <mapping resource="org/temp/JobSupervisor.hbm.xml" />
        <mapping resource="org/temp/StudentHistory.hbm.xml" />
    </session-factory>
</hibernate-configuration>
